[submodule "public"]
	path = public
	url = git@github.com:hpcat/hpcat.github.io.git
	branch = master
[submodule "public."]
	path = public.
	url = git@github.com:hpcat/hpcat.github.io.git
	branch = master
